@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    background-color:hsl(30, 38%, 92%); ;
}

section > img{
    height: 600;
    height: 600px;
    border-radius: 20px 0px 0px 20px;
}

nav{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    background-color: white;
    width: 35vw;
    border-radius: 0px 20px 20px 0px;
}

main > h1{
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    margin: 40px;
}

main > h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: rgb(161, 158, 158);
    font-size: 0.9em;
    margin: 40px;
}

main > h4{
    background-color: rgba(0, 128, 0, 0.836);
    color: white;
    text-align: center;
    width: 20vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}

main > h4:hover{
    background-color: rgba(173, 150, 16, 0.589);
    color: black;
}

main > p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: rgb(161, 158, 158);
    font-size: 0.9em;
    margin: 40px;
}

main > aside{
    display: flex;
    flex-direction: row;
    
}

aside > h3{
    color: rgb(5, 70, 5);
    font-size: 2.3em;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

aside > p{
    color: rgba(128, 128, 128, 0.808);
    text-decoration: line-through;
    padding: 35px 0px 0px 50px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

